html, body {
    box-sizing: border-box;
    height: 100%;
}

.root-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;    
    
    /* grid-template-columns: repeat(12, 1fr);    
    grid-template-rows: 70px 1fr 50px;
    grid-template-areas: 
        "n n n n n n n n n n n n"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f"; */    
}

.main, .nav-bar, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NAV BAR */

.nav-bar {
    height: 70px;    
    padding: 0 200px;
}

.logo {
    
}

.space-between {
    flex: 1 1 0;
}

.nav-auth {
    display: inline-flex;        
    padding: 0;    
    /* border: 1px solid black;
    border-radius: 30px; */
}

.nav-auth > li {
    list-style: none;    
    padding: 5px 30px;
}

.nav-auth > .nav-auth-register {
    border: 1px solid black;    
}



.main {
    min-height: 200px;
    flex: 1 1 0;    
    /* grid-area: "m"; */
}
.footer {
    min-height: 50px;    
    /* grid-area: "f"; */
}

.home-search {    
    align-self: center;
    height: auto;
    
    position: absolute;
    z-index: 10;
    top: 120px;
    /* left: 20px; */
    
}




